@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-100;
  overscroll-behavior-y: none;
  user-select: none;
}

input, textarea {
  user-select: text;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}